[run]
source = src
omit = src/**/__init__.py,
  src/db_connection.py,
  src/init_db.py,
  src/tests/**,
  src/assets/**,
  src/index.py,
  src/constants.py,
  src/game/enums.py,
  src/game/main_loop.py,
  src/ui/**